*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}



header{
    background: #8b8b8b;
    border-radius: 30px;
    margin: 8px 8px 0px 8px;
    padding: 8px 16px;

    display: flex;
    align-items: center;

    color: white;
    font-weight: bolder;

    img{
        height: 60px;
    }

    .titulo{
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: white;
    }
    nav{
        position: absolute;
        right: 24px;

        display: flex;
        gap : 16px;
    }
}
body{
    background-color: lightgrey;
}
.containerCards{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 100px;

    background-image: url('img/bg01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 920px;
}

.card{
    border: 4px solid grey;

    height: 350px;
    width: 250px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #ffffffff;
    .p_titulo{
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }
    .p_subtitle{
        font-size: 16px;
        text-align: center;
    }
    .p_valor{
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
    }
}

.card:hover{
    transform: translateY(-8px);
    border: 4px solid #454545;
}

.tamanho_img{
    height: 150px;
}
.tamanho_img2{
    width: 120px;
}

.containerAssinatura{
    background: #454545;
    padding: 100px 150px 0px;

    display: flex;
    justify-content: space-between;

    .p_assinatura{
        font-size: 24px;
        color: white;
        font-weight: bolder;
        margin-bottom: 16px;
    }
    img{
        height: 250px;
    }
    li{
        color: white;
        margin: 0px 0px 8px 36px;

    }
    li:hover{
        cursor: pointer;
    }
    .btn_assinatura{
        padding: 8px 16px;
        border: 2px solid white;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bolder;
        margin: 16px 0px 0px 90px;
        background: transparent;
        color: white;
        cursor: pointer;
    }
    .btn_assinatura:hover{
        background: white;
        color: #454545;
    }
}

footer{
    padding: 100px 0px 350px 0px;
    background-image: url('img/img_footer.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    .footer_container{
        margin-left: 150px;
        background-color: #454545;
        padding: 16px;
        width: 500px;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        color: white;
        font-size: 36px;
        margin-bottom: 16px;
    }

    .btn_footer{
        width: 200px;
        padding:  8px 16px;
        border-radius: 30px;
        border: none;
        font-weight: bolder;
        color: #454545; 
    }
}