.containerCards{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 100px;

    background-image: url('../img/bg01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 920px;
}

.card{
    border: 4px solid grey;

    height: 350px;
    width: 250px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #ffffffff;
    .p_titulo{
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }
    .p_subtitle{
        font-size: 16px;
        text-align: center;
    }
    .p_valor{
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
    }
}

.card:hover{
    transform: translateY(-8px);
    border: 4px solid #454545;
    cursor: pointer;
}

.tamanho_img{
    height: 150px;
}
.tamanho_img2{
    width: 120px;
}
