.mapaContainer{
    padding: 60px 0px;

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../img/bg_maps.jpg');
    background-repeat: repeat;
    background-size:500px;

    h3{
        font-size: 36px;
    }
    p{
        padding: 20px 0px;
        text-align: center;
    }
}


@media screen and (max-width:430px){
    .mapaContainer{
        padding: 24px 0px;

        h3{
            font-size: 20px;
        }
        p{
            padding: 10px 0px;
        }
    }
}